@font-face{
    font-family: PTRoot;
    src: url(assets/ptroot.woff2);
}

body{
    background-color: #000;
    color: #fff;
    font-family: PTRoot, Helvetics, sans-serif;

    margin:0;

    font-size: 24px;
}

header, footer{
    font-size: 10px;;
    position:fixed;
    z-index: 100000000001;
    width: 100%;

    overflow: hidden;
}

header{
    top:8px;
    left:0px;
}

footer{
    bottom: 8px;
    left:0;
}

header h1, footer h1{
    display: flex;
}

h1 span{
 
    display:block;
    min-width: 300px;

    flex: 0 auto;
    white-space: nowrap;
}

h1.emoji span{
    min-width: 150px;
    width: 150px;
}

img{
    max-width: 100%;
}

.info h2{
    font-size: 32px;
}

section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

section p{
    margin: 32px 0 0 0;
}

section div.split{
    display:flex;
    align-items:center;
    justify-content:center;
}

section div.split:first-child{
    background-color: #111111;
}

section div.slideshow{
    position:relative;
    width: 500px;
    height: 750px;
}

section div.slideshow img{
    position:absolute;
    top:0;
    left:0;
    width: 500px;
    height: 750px;
}



section div.info{
    max-width: 480px;
}

